body {
    background-color: #1e2d3b;
}

header {
    color: #1ed760;
    font-size: 50px;
    padding: 1rem;
}
header >select {
    font-size: 20px;
    width: 400px;
    background-color: #1e2d3b;
    color: grey;
    border-radius: 5px;
}

.card {
    width: 250px;
    height: 400px;
    margin: 2rem;
    padding: 1rem;
    text-align: center;
}
img {
    height: 200px;
    width: 200px;
    margin: 0.5rem 0;
}
.title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.artist, .year {
    color: #757d76;
}

/* Utilities */
.bg_head {
    background-color: #2e3a46;
}

